html {
    height: 100%;
     background-image: url("http://www.publicdomainpictures.net/pictures/120000/nahled/vintage-flowers-wallpaper-pattern.jpg");
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}
.aboutMain{
    display: auto;
    justify-content: space-between;
}
.leftPane {
    display: flex;
    justify-content: flext-start;
    background-color: pink;
    font-size: 30px;
}
.rightPane{
    display:flex;
    justify-content:flex-end;
    background-color: pink;
}

.home {
    height: 100%;
    background-image: url("https://i.pinimg.com/originals/a1/77/21/a17721cf0a12bf9952f12f307c4510c2.jpg");
   
    
}


.social-image{
    width: 30px;
    margin: 15px;
}

h1 {
    display: flex;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.headerText {
    color:black;
    font-size: 30px;
}
.gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.thumbnail {
    margin: 30px;
    border: solid #C57BFF  ;
    width: 300px;
    height: 300px;
}

.thumbnail-image {
    height: 100%;
    width: 100%;
}